@{
    Layout = "_Layout";
    ViewData["Title"] = "Pizzeria da Luigi";
}

<div class="container">
    <div class="row mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Foto</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Marinara</th>
                <td>Pomodoro - origano - aglio - olio</td>
                <td><img src="~/img/marinara.jpg" alt="Pizza Marinara" class="img-fluid" style="height:200px"></td>
                <td>€ 4,00</td>
            </tr>
            <tr>
                <th scope="row">Margherita</th>
                <td>Pomodoro - mozzarella</td>
                <td><img src="~/img/margherita.jpg" alt="Pizza Margherita" class="img-fluid" style="height:200px"></td>
                <td>€ 5,00</td>
            </tr>
            <tr>
                <th scope="row">Capricciosa</th>
                <td >Pomodoro - mozzarella - funghi - olive - capperi</td>
                <td><img src="~/img/capricciosa.jpg" alt="Pizza Capricciosa" class="img-fluid" style="height:200px"></td>
                <td>€ 6,00</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>